.grid__cards {
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  height: 75vh;
  width: 85%;
  margin: 2rem;
  margin-inline: auto;
  padding: 2rem 3rem;
  gap: 2rem;

  li {
    list-style: none;
    display: flex;
    justify-content: center;    
    align-items: center;
    border-radius: 15px;
    transition: 0.25s;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #fff;
    color: rgb(157, 78, 221);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  li:hover {
    scale: 1.025;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  a,
  a:visited,
  a:active {
    color: rgb(157, 78, 221);
    text-decoration: none;
  }
}
