#nav {
  display: grid;
  grid-template: 1fr/ 3fr 7fr;
  padding: 10px 1rem;
  padding-inline: 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
    

  button {
    margin-inline: auto;
    width: 20px;
  }

  a {
    display: grid;
    grid-template: auto;
    place-content: center;
    padding-inline: 3rem;
    img {
      width: 150px;
      aspect-ratio: 2/1;
      mix-blend-mode: multiply;
    }
  }

  nav {
    display: grid;
    grid-template: 1fr / 1fr 4rem;
    place-items: center;
    color: rgb(157, 78, 221);
    font-weight: 700;
    font-size: 1.2rem;
    // margin-inline: 1rem;
    li {
      list-style: none;
      cursor: pointer;
      display: grid;
      grid-template: 1fr/ 1fr 1fr;
      place-items: center;
    }
  }
}
